.aboutContainer {
    min-height: 100vh;
    background-color: var(--color-bg);
    padding: 70px 0;
}

.aboutGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1240px;
    margin: 0 auto;
}

.aboutText {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}